@font-face {
    font-family: 'MICEGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html > body > header {
	font-family: 'MICEGothic Bold';
}
html > body {
	font-family: 'MICEGothic';
}

/* 라이브러리 */
.table-box-type-1 > table {
	width: 100%;
}
.table-box-type-1>table th, .table-box-type-1>table td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}
.btn-text-link {
	color: grey;
}
.btn-text-link:hover {
	text-decoration: underline;
	color: #333;
}

/* 커스텀 */
body {
	min-width: 800px;
}
.lh-48px {
	line-height: 48px;
}
.btn-group .btn-active {
	background-color: #d3d4d7;
	border: 0;
	color: black;
}
.pageChangeBtn {
	line-height: 48px;
	font-size: 14px;
}
.pageChangeBtn.left {
	margin-right: 15px;
}
.pageChangeBtn.right {
	margin-left: 15px;
}
.articleCountNum {
	width: 100px;
}
.searchInput {
	line-height: 46px;
	background-color: #d3d4d7;
	padding-left: 10px;
	box-sizing: border-box;
	border-radius: 5px;
}
.searchInput:focus {
	outline: none;
}